@import "./variables/variables";
@import "./reset/reset";
@import "./components/header";
@import "./mixin/mixin";

.l-mode,
.l-mode-top {
  color: $very-dark-blue-text;
}

.n-mode {
  color: $white-text;
}

.n-mode-top {
  color: $desaturated-blue-text;
}

.dark-body {
  background-color: $very-dark-blue-bg;
}

.bg-rec {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 250px;
  background-color: $very-pale-blue-top-bg-pattern;
}

.dark-bg {
  background-color: $very-dark-blue-top-bg-pattern;
}

section {
  margin: 0 auto;
  padding-top: 35px;
  padding-inline: 50px;
  max-width: 1200px;
  min-height: 100vh;
}

.grid-data {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding-block: 50px 40px;
}

.fb-card {
  @include socialCard($facebook);
}

.tw-card {
  @include socialCard($twitter);
}

.yt-card {
  @include socialCard($youtube);
}

.ig-card {
  @include socialCard($instagram);
}

.up-txt {
  color: $lime-green;
}

.down-txt {
  color: $bright-red;
}

// LAST GRID

h3 {
  font-size: 24px;
  color: $very-dark-blue-text;
  padding-bottom: 25px;
}

.grid-overview {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  padding-bottom: 20px;
}

.ovw-card {
  border-radius: 5px;
  padding: 25px 30px;
  background-color: $light-grayish-blue-card-bg;

  &:hover {
    background-color: $card-bg-hover;
  }

  .ovw-top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      font-size: 12.5px;
      letter-spacing: 1px;
    }
  }

  .ovw-bottom {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-top: 20px;

    h4 {
      font-size: 32px;
    }

    .ovw-data {
      gap: 4px;
      font-size: 12px;
    }
  }
}
.dark-card {
  background-color: $dark-desaturated-blue-card-bg;

  &:hover {
    background-color: $dark-card-bg-hover;
  }
}

@import "./mediaquery/lg";
@import "./mediaquery/sm";
