@media (max-width: 645px) {
  .grid-data,
  .grid-overview {
    grid-template-columns: 1fr;
  }

  header {
    flex-direction: column;
    align-items: flex-start;

    .left {
      width: 100%;
      border-bottom: 2px solid rgb(176 175 175 / 40%);
      padding-bottom: 20px;
    }

    .right {
      width: 100%;
      justify-content: space-between;
      padding-top: 20px;
    }
  }
}
